.vscode/**
.vscode-test/**
**/*.ts
**/*.map
.gitignore
groovy/
**/tsconfig.tsbuildinfo
**/tsconfig.json
**/eslint.config.mjs
**/jest.config.js
server/test/**
.jscpd.json
report
.mega-linter.yml
megalinter-reports
coverage/**
renovate.json
.github/**
client/node_modules/**
!client/node_modules/vscode-jsonrpc/**
!client/node_modules/vscode-languageclient/**
!client/node_modules/vscode-languageserver-protocol/**
!client/node_modules/vscode-languageserver-types/**
!client/node_modules/{minimatch,brace-expansion,concat-map,balanced-match}/**
!client/node_modules/{semver,lru-cache,yallist}/**

