name: Test

on: [push, pull_request]

permissions: read-all

concurrency:
  group: ${{ github.ref_name }}-${{ github.workflow }}
  cancel-in-progress: false

jobs:
  test:
    # Avoid duplicate jobs
    if: github.event_name != 'push' || github.ref_name == github.event.repository.default_branch
    strategy:
      fail-fast: false
      matrix:
        node_version: ["24"]
        os: [ubuntu-latest, macos-latest, windows-latest]
    name: Test VsCode
    runs-on: ${{ matrix.os }}
    timeout-minutes: 25
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
      - name: Install node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node_version }}
      - name: Install dependencies
        run: npm install
      - name: Lint
        run: npm run lint
      - name: Compile
        run: npm run compile
      - name: Run headless test
        uses: GabrielBB/xvfb-action@v1
        with:
          run: npm run test
  coverage:
    if: github.event_name != 'push' || github.ref_name == github.event.repository.default_branch
    name: Collect coverage
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: "24"
      - name: Install dependencies
        run: npm ci
      - name: Run tests
        run: npm run test:coverage
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          verbose: true
          token: ${{ secrets.CODECOV_TOKEN }} # required
